<style type="text/css">

table {
margin-left:auto;
 margin-right:auto;
 text-align: center;
}

button {
  cursor: pointer;
}

th {
  font-family: 'digital-7';
  font-size: 35px;
  text-align: right;
   margin-left: auto;
   margin-right: auto;
   height: 60px;
   table-layout: fixed;
   width: 100px;
   border-style: none;
   border-color: black;
   background-color: #938F8F;
}

.grey {
  height: 40px;
  width: 40px;
  background-color: #C0C0C0;
  font-size: 20px;
  font-family: "helvetica";
  color: #333;
  padding: 1px;
  border: 1px solid black;
}

.blue {
  height: 40px;
  width: 40px;
  background-color: #18C4CA;
  font-size: 20px;
  color: ivory;
  padding: 1px;
  border: 1px solid black;
}

.standard {
  height: 40px;
  width: 40px;
  background-color: #D0D5D5;
  font-size: 20px;
  padding: 1px;
  border: 1px solid black;
}

.zero {
  height: 40px;
  width: 90px;
  background-color: #D0D5D5;
  font-size: 20px;
  padding: 1px;
  border: 1px solid black;
}

@font-face {
  font-family: "digital-7";
  src: url("fonts/digital-7.ttf");
}
