<style type="text/css">

table {
  table-layout: fixed;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

button {
  cursor: pointer;
}

td {
  height: 60px;
}

th {
  font-family: 'digital-7';
  font-size: 55px;
  text-align: right;
   margin-left: auto;
   margin-right: auto;
   height: 80px;
   table-layout: fixed;
   width: 100px;
   border-style: none;
   border-color: black;
   background-color: #938F8F;
}

.grey {
  height: 58px;
  width: 58px;
  background-color: #C0C0C0;
  font-size: 20px;
  font-family: "helvetica";
  color: #333;
  padding: 1px;
  border: 1px solid black;
}

.blue {
  height: 58px;
  width: 58px;
  background-color: #18C4CA;
  font-size: 20px;
  color: ivory;
  padding: 1px;
  border: 1px solid black;
}

.standard {
  height: 58px;
  width: 58px;
  background-color: #D0D5D5;
  font-size: 20px;
  padding: 1px;
  border: 1px solid black;
}

.zero {
  height: 60px;
  width: 120px;
  background-color: #D0D5D5;
  font-size: 20px;
  padding: 1px;
  border: 1px solid black;
}

@font-face {
  font-family: "digital-7";
  src: url("fonts/digital-7.ttf");
}

body {
  background-image: url("https://freedesignfile.com/upload/2016/10/Green-meadow-with-blurred-sunny-background-HD-picture.jpg");
}
